<!--<div id="siginupclose">-->

<body class="front_body" style="padding-top: 100px;">
  <div class="topright">
    <img class="img1" height="120" width="120" src="assets/images/logo2.png" alt="User Icon" />

  </div>
  <div id="Containersingup" *ngIf="!currentUser">
   
    <!-- <h2 class="mb-3 mt-2 w-100 text-center">Register</h2> -->
    <form [formGroup]="regForm" name="formlogin">
        <div class ="login-page sign_in">
            <div class="form">
                <div class="picback">
                    <img height="90px" width = "90px" src="assets/img/signUp.png" id="icon" alt="User Icon" />
                    </div>

      
        <!-- <label for="email">Email address:</label> -->
        <input type="email" formControlName="email" class="" id="email" placeholder="Email">
      
        <!-- <label for="username">Username:</label> -->
        <input type="text" formControlName="username" class="" id="username" placeholder="Username">
     

     
        <!-- <label for="password">Password:</label> -->
        <input type="password" formControlName="password" class="" id="password" placeholder="password">
      
        <!-- <label for="passwordConf">Confirm password:</label> -->
        <input type="password" formControlName="passwordConf" class="" id="passwordConf" placeholder="Confirm password">
      
    

      <div class="spinner-border" role="status" *ngIf="loading">
        <!-- <span class="sr-only">Loading...</span> -->
      </div>
      <button class="form_bt submit_bt" type="button" *ngIf="!loading" (click)="onSubmit()">Signup</button>
    </div>
  </div>
  </form>
  </div>
</body>
<!--</div>-->