.homeshow {
  height: auto;
  /*background-color: #2b608b;*/

}
#carousel {
  padding: 600px;
}
.carousel-inner{

  height: 400px;
}

.second{
  height: 500px;
  background-color: darkcyan;
  background-image: url("../../assets/img/photo-1518953789413-9598f0909795.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid firebrick 10px;
}

.third{
background-color: coral;
  height: 400px;
  background-image: url("../../assets/img/zolotye-ukrasheniia-braslety-dragotsennye-kamni-chernyi-fon.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;


}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.column {
  float: left;
  padding: 10px;
  height: 300px; 
}

.left {
  width: 20%;
  max-width:20%;
}

.right {
  width: 80%;
  max-width:80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Menu bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}



.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2,h3{
  align-content: center;
}

img{
  mix-blend-mode: multiply;
}