<div class="back1">
  <h2>Welcome Jewel Smart User Home......!!!</h2>
  <br><br>
<div class="container"align-content="center">

  <!--<div class="col-lg-12">-->
  <div class="row userpanel">
    <div class="col-lg-4 adview">
     <button class="btn btn-dark" routerLink="viewads">go to view adverticement</button>
    </div>
    <div class="col-lg-4 po">
      <button class="btn btn-dark" routerLink="postads">go to upload adverticement</button>
    </div>
    <div class="col-lg-4 profile">
      <button class="btn btn-dark" routerLink="profile">go to mangeprofile</button>
    </div>
  </div>
  <!--</div>-->
  
</div>
<div class="spa"></div>
</div>

