
<body class="xyz">
<div class="col-lg-12">
  <H3>--View all Ads--</H3>
  <br>
  <div class="container">
    <div class="row">
      <!--<div class="card-columns">-->
      <div class="card col-lg-3" style="width: 18rem;" *ngFor="let ad of ads">
          <div>
            <img src="{{ ad.payload.doc.data().img_url }}" class="card-img-top" alt="https://console.firebase.google.com/project/gemapp1-39846/storage/gemapp1-39846.appspot.com/files/{{ ad.payload.doc.data().adsImage }}"style="width:200px; height: 150px;">
              <div class="card-body">
                <h5 class="card-title">Title:-{{ad.payload.doc.data().title}}</h5>
                <p class="card-text">Description:-{{ad.payload.doc.data().description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <!--<li class="list-group-item">{{ad.payload.doc.data().name}}</li>-->
                <li class="list-group-item">Condition:-{{ad.payload.doc.data().condition}}</li>
                <li class="list-group-item">Rs{{ad.payload.doc.data().price}}</li>
                <li class="list-group-item">OwnerMail:-{{ad.payload.doc.data().owneremail}}</li>
              </ul>
              <div class="card-body">
                <button *ngIf="!ad.payload.doc.data().reserved" (click)="reserve(ad.payload.doc.id)" class="btn btn-primary w-100">Reserve</button>
                <span *ngIf="ad.payload.doc.data().reserved" class="w-100 text-center">Reserved</span>
                <!--<a href="#" class="card-link">Another link</a>-->
              </div>
            </div>
      </div>
    </div>
  </div>



</div>
</body>